.navbar-bg{
    color: rgb(1, 1, 26) !important;
}
.toggle{
    color: rgb(1, 1, 26) !important; 
}
.btns{
   background-color: #528fc1 !important; 
} 
.btns:hover{
    color: #000000 !important; 
 } 